$border-color: #ff4040;
$border-color-completed: rgb(71, 156, 37);
$checkbox-size: 1rem;
$checkedbox-size: 1.2rem;
$primary: #78d1ac;
$secondary: #33ff00;
$white: #fff;
$gray: #9b9b9b;
$dark: #15171e;
$white: mix($dark, white, 20%);

body {
    background: $dark;
    color: $white;
    font-family: "Poppins", sans-serif;
}

.todo {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    &__form {
        display: flex;
        align-items: end;
        margin-bottom: 60px;
        padding-bottom: 3px;
        border-bottom: 1px solid $gray;
    }
    &__list {
        &-wrap {
            display: flex;

            align-items: center;
        }
        &-text {
            max-width: 300px;
            width: 100%;
            height: auto;
            line-break: anywhere;
        }
    }

    &__list-button,
    &__form-button {
        height: 45px;
        margin: 0 40px 0 5px;
        color: #fff;
        background-color: inherit;
        border: 1px solid;
        border-radius: 3px;
        font-size: 18px;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.1s linear;
        &:hover {
            background-color: $white;
            color: $dark;
        }
    }
}

@keyframes pull {
    0% {
        height: 0;
    }
    100% {
        height: 1.2rem;
    }
}

@keyframes pop {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
    }
}

.checkbox-item {
    display: none;
}

.checkbox-item + label {
    display: inline-block;
    width: 25px;
    height: 19px;
    margin: 0 5px -4px 0; /*layout relationship between check and label*/

    &:before,
    &:after {
        cursor: pointer;
        transition: (all 0.3s ease-in-out);
        content: "";
        position: absolute;
        z-index: 1;
        width: $checkbox-size;
        height: $checkbox-size;
        background: transparent;
        border: 2px solid $border-color;
    }
    &:after {
        z-index: 0;
        border: none;
    }
}

.checkbox-item:checked + label {
    &:before {
        transform: rotateZ(360deg);

        content: url("https://cdn-icons-png.flaticon.com/16/1634/1634264.png");

        border: 2px solid $border-color-completed;
    }
}
.checkbox-item + label {
    &:before {
        transform: rotateZ(180deg);

        content: url("https://cdn-icons-png.flaticon.com/16/1828/1828666.png");
    }
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.todo__list-input,
.todo__form-input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.todo__list-input:focus,
.todo__form-input:focus {
    .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}
